<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.anew">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.New"
        tools:targetApi="31">
        <activity
            android:name=".AddingCandidates"
            android:exported="false" />

        <meta-data
            android:name="come.google.android.geo.API_KEY"
            android:value="AIzaSyBj7uueiN9mv47R7jwBvkhHqKM_Hsn78cM" />

        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:screenOrientation="locked" />
        <activity
            android:name=".PositionsActivity"
            android:exported="false"
            android:screenOrientation="locked" />
        <activity
            android:name=".CandidatesActivity"
            android:exported="false"
            android:screenOrientation="locked" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:screenOrientation="locked" />
        <activity
            android:name=".DrawerBaseActivity"
            android:exported="false"
            android:screenOrientation="locked" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false"
            android:screenOrientation="locked" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="locked" />
        <activity
            android:name=".Register"
            android:exported="false"
            android:screenOrientation="locked" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:exported="true"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>